h1 {
	font-family: Lato; 
	color: white; 
	font-size: 28px; 

	
}
p {
	font-family: Lato;
	color: white; 
	font-size: 16px; 
}
form {

	font-family: Lato; 
	font-size: 16px; 
	color: white; 
}

textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: #D0D0D0;
    resize: none;
}
