body {

	background-color: #67BCDB;

}

h1 {
	font-family: Lato; 
	color: black; 
	font-size: 28px; 

	
}
p {
	font-family: Lato;
	color: black; 
	font-size: 16px; 
}
form {

	font-family: Lato; 
	font-size: 16px; 
	color: black; 
}


